@page "/add-type"
@layout MainLayout

@using Radzen
@using Radzen.Blazor
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "admin, ADMMODCO")]
@inject Microsoft.Extensions.Localization.IStringLocalizer<AddType> L
<PageTitle>Add Type</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      
    </div>
  </ChildContent>
</RadzenContent>
