@page "/SeeAppo"
@inherits ConsultAppointementComponent
@using Radzen
@inject Microsoft.Extensions.Localization.IStringLocalizer<BasePage> L
@attribute [Authorize(Roles = "ADMIN,DOCTOR,ASSISSTANT,INFIRMIER")]
    
<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H1" Text="@L["Les rendez vous du semaine"]">
        </RadzenHeading>

        <div class="row">
            

            <RadzenScheduler @ref=@scheduler SlotRender=@OnSlotRender style="height: 768px;" TItem="Cabinet.Models.Appointment" Data=@appointments StartProperty="DateAppointement" EndProperty="End"
                             TextProperty="Patient.FullName" SelectedIndex="1" 
                             SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender>
                <RadzenDayView />
                <RadzenWeekView />
                <RadzenMonthView />
                <RadzenYearView />
            </RadzenScheduler>
        </div>
    </ChildContent>
</RadzenContent>

@code {
}

