@page "/forget"
@layout Cabinet.Shared.ForgetLayout
@using Radzen
@using System.Text.Json
@using System.Collections.Generic;
@using Microsoft.JSInterop;
@inherits BasePage




@inject Microsoft.Extensions.Localization.IStringLocalizer<BasePage> L;
@inject NavigationManager UriHelper

<PageTitle>Login</PageTitle>
<RadzenContent Container="main">
    <ChildContent>
        <div>
            <div class="row mt-5 mb-5">
                <div class="col-12 text-center">
                    <RadzenImage Path="Cabinet.png" Style="width:150px; height: auto"></RadzenImage>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center ">
                    <RadzenHeading Size="H1" Style="font-size:60px" class="text-white" Text="@L["Réinitialisation du mot de passe "]">
                    </RadzenHeading>
                </div>
                <div class="" style="font-size:31px; font-weight:500;">
                    pour réinitialisation votre mot de passe, entrer votre mail adresse
                </div>
            </div>
            <RadzenTemplateForm Action="@($"Mail/SendMailReset")" Method="post" TItem="Model" Data=@model >
                <ChildContent>
                    <div class="form-group">
                        <RadzenLabel Text="Email" for="Email" class="mb-2 text-white" />
                        <RadzenTextBox Name="Mail" Placeholder="Sisair votre email" class="form-control" @bind-Value="@model.Email" />
                        <RadzenRequiredValidator Component="Mail" Text="Email is required" Popup=@popup Style="position: absolute" />
                        <RadzenEmailValidator Component="Mail" Text="Provide a valid email address" Popup=@popup Style="position: absolute" />

                    </div>
                    <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Style="width: 100%" class="mt-3">
                        @L["Login"]
                    </RadzenButton>
                    
                    <div class="rz-p-12 rz-text-align-center bg-orange-100">
                        <RadzenLink Path="/register" class="text-white" Text="Register" />
                        <br />
                        <RadzenLink Path="/login" class="text-white" Text="Se connecter" />
                    </div>
                    
                </ChildContent>
            </RadzenTemplateForm>

        </div>

    </ChildContent>
</RadzenContent>
@code {
    class Model
    {
        
        public string Email { get; set; }
    }

    bool popup;
    Model model = new Model();
    private string password { get; set; }
    public string redirectUrl { get; set; }
    protected bool ShowPassword = false;

    protected void handleShowPassword()
    {
        ShowPassword = !ShowPassword;
    }
    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        await Load();
    }
    protected async System.Threading.Tasks.Task Load()
    {
        var query = System.Web.HttpUtility.ParseQueryString(new Uri(UriHelper.ToAbsoluteUri(UriHelper.Uri).ToString()).Query);

        var error = query.Get("message");

        if (!string.IsNullOrEmpty(error))
        {
            Notify(NotificationSeverity.Error, $"Error", $"{error}" );
        }
    }
}