@page "/unauthorized"
@layout MainLayout

@using Cabinet.Service;
@using Radzen
@using Radzen.Blazor
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authorization;
@inject Microsoft.Extensions.Localization.IStringLocalizer<Unauthorized> L
<PageTitle>Unauthorized</PageTitle>
<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H1" Text="@L["pageTitle.Text"]">
        </RadzenHeading>
        <div class="row">
            <div class="col-md-12">
                <RadzenHtml>
                    The current user is not authorized to see this page.
                </RadzenHtml>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

@code{

        [Parameter(CaptureUnmatchedValues = true)]
        public IReadOnlyDictionary<string, dynamic> Attributes { get; set; }

        public void Reload()
        {
            
        }


        [Inject]
        protected IJSRuntime JSRuntime { get; set; }

        [Inject]
        protected NavigationManager UriHelper { get; set; }

        [Inject]
        protected DialogService DialogService { get; set; }

        [Inject]
        protected TooltipService TooltipService { get; set; }

        [Inject]
        protected ContextMenuService ContextMenuService { get; set; }

        [Inject]
        protected NotificationService NotificationService { get; set; }

        [Inject]
        protected SecurityService Security { get; set; }

        [Inject]
        protected AuthenticationStateProvider AuthenticationStateProvider { get; set; }

}